.button {
  color: rgb(31, 41, 55);
  font-weight: 600;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  padding-left: 0.25rem /* 4px */;
  text-align: center;
  background-color: #f1f1f1;
  border: 0;
  border-radius: 0.5rem;
}