.container {
  cursor: pointer;
}

.animatedWrapper {
  position: relative;
  display: inline-flex;
}

.animatedWrapper:hover {
  z-index: 1;
}

.smallSize {
  width: 300px;
  min-width: 300px;
  height: 170px;
  min-height: 170px;
}

.mediumSize {
  width: 158px;
  min-width: 158px;
  height: 280px;
  min-height: 280px;
}

.largeSize {
  width: 218px;
  min-width: 218px;
  height: 434px;
  min-height: 434px;
}

.cardImage {
  border-radius: 0.375rem;
  object-fit: cover;
  object-position: center;
}
