.container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.information {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}

.publishTime {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  margin-top: 1.5rem /* 24px */;
  margin-bottom: 0.5rem /* 8px */;
  color: var(--red10);
}

.text {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  color: var(--white10);
}

.description {
  margin-bottom: 0.5rem /* 8px */;
  margin-top: 0.75rem /* 12px */;
}

.subText {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  margin-left: 0px;
  overflow-wrap: break-word;
}

.subTextWrapper {
  margin-top: 1.5rem /* 24px */;
}

.textColor {
  color: var(--gray10);
}

.channelTitle {
  color: var(--white30);
  margin: 0px;
}