.container {
  color: var(--white10);
  display: flex;
  justify-content: space-between;
}

.navList,
.userInfoList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  align-items: center;
}

.navList a,
.userInfoList a {
  display: flex;
  padding: 1.5rem 0;
}

.logo {
  margin-right: 1rem;
}
